@{
    ViewBag.Title = "Place X Main Page";

}


<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="row">
            <div class="col-lg-9 col-sm-9 col-xs-8">
                
                <form class="form-inline">

                    <input type="text" class="form-control" id="search-input" placeholder="Search">
                    <button type="button" class="btn btn-primary" id="btn-my-location" title="To my location!" onclick="showMyPosition()"><span class="glyphicon glyphicon-map-marker"></span></button>
                </form>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        @if (User.Identity.IsAuthenticated)
    {
                    <li class="dropdown-header"> Вы вошли как: @User.Identity.Name</li>
                    <li role="separator" class="divider"></li>

using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
{
                    @Html.AntiForgeryToken()
                    <li><input type="submit" class="btn btn-primary glyphicon-log-out pull-right" value="Sign out" /></li>
                            }
                        }
                        else
                        {
                            if (TempData["ExternalSignInMessage"] == null)
                            {
                    <li> <button data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();" class="btn btn-primary pull-right">Sign Up</button></li>
                            }
                            else
                            {
                            <li>
                        @using (Html.BeginForm("ExternalLoginConfirmationForSinglePage", "Account", new { email = TempData["ExternalSignInMessage"], ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form -horizontal", role = "form" }))
                        {
                            TempData["emailConfirmed"] = TempData["emailConfirmedOrNot"];
                            //TempData["email"] = TempData["ExternalSignInMessage"];
                    @Html.AntiForgeryToken()
                                <p>
                                    You've successfully authenticated with @TempData["LoginProvider"].
                                    Click the Register button to create an account in PlaceX.
                                </p>
                    <input type="submit" class="btn btn-default" value="Register" />
                        }
                    </li>
                            }
                        }
                    </ul>
                </div>






</div>
</div>

    
</nav>
</div>
</div>

<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">

                <div class="box">
                    <div class="content">
                        <div class="social">
                            @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" id="google_login" class="circle google " name="provider" value="Google" title="Log in using your Google account" />
    }
                            @*<i class="fa fa-google-plus" aria-hidden="true"></i>*@
                            @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" id="facebook_login" class="circle facebook fa-input" name="provider" value="Facebook" title="Log in using your Facebook account" />
    }
                            @*<a id="facebook_login" class="circle facebook" href="#">
                    <i class="fa fa-facebook fa-fw"></i>*@
                            @*</a>*@
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                             {
                                @Html.AntiForgeryToken()
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                             }
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                    <input id="password" class="form-control" type="password" placeholder="Password" name="Password">
                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="ConfirmPassword">
                    <input type="submit" class="btn btn-default btn-register" value="Create account" />
    }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <span>
                        Looking to
                        <a href="javascript: showRegisterForm();">create an account</a>
                        ?
                    </span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>







<div id="map" style="height: 800px"></div>



@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-4VODBOr-2m07H3PxJxrZ4nuLYo1XPi4&libraries=places"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/HomeController.js"></script>
}