@model PlaceX.Models.PlaceViewModel


<!-- block form notifies-->
<div id="notifies"></div>
<!-- Modal window for showing picture from the callery-->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-title">Просмотр изображения</div>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="" alt="" style="display: block; margin: 0 auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well" style="padding: 1em 1em 0 1em;">
                <div class="row">
                    <div class="headerPlace">
                        <img src="@Model.PhotosUrls[0]" class="img-thumbnail col-md-2 col-sm-5 col-xs-5" />
                        <div class="row col-md-10 col-sm-7 col-xs-7">
                            <h1 class="text-center">@Model.Name</h1>
                        </div>
                        <div class="row col-md-9 col-sm-12 col-xs-12">
                            <div class="bodyPlace">
                                <ul>
                                    <li>Address: @Model.Address</li>
                                    <li>PhoneNumber: @Model.PhoneNumber</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionBar row">
                    <div class="sectionGroup col-md-2 col-sm-4 col-xs-4">
                        
                            <span>Gallery</span>
                        
                    </div>
                    <div class="venueScore col-md-4 col-md-offset-6 col-sm-8 col-xs-8">
                        <span>Google Rating:<span class="positive">@Model.GoogleRating/5</span></span>
                        <span>"count of ratings"</span>
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>
                <!-- slider -->
                <div id="owl-demo">
                    @for (int i = 1; i < Model.PhotosUrls.Length; i++)
                    {
                        <div class="item">
                            <a href="#" class="thumbnail"><img src="@Model.PhotosUrls[i]" alt="Gallary Slide №@i of '@Model.Name'" /></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2 class="text-center">Reviews</h2>
            </div>
        </div>
    </div>

    <!--Comments-->
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Log in to leave your own review.</p>
    }
    else
    {
       // if(TempData["emailConfirmed"]!=null && TempData["emailConfirmed"].ToString()=="confirmed")

        {
        <div class="row ">
            <div class="col-lg-12">
                @using (Ajax.BeginForm("AddReview", null, new AjaxOptions { UpdateTargetId = "reviewsUpdate" }, new { id = "ajaxAddReviewForm" }))
                {

                    <div class="input-group">
                        <input type="text" class="form-control" id="txtReview" name="textContent" aria-label="..." placeholder="Write here your own experience associated with this place...">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default " id="btnSubmitReview" aria-haspopup="true" aria-expanded="false">Send</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="rating" value="5" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="rating" value="4" />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="rating" value="3" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="rating" value="2" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="rating" value="1" />
                        <label title="bad" for="star-0"></label>
                    </div>
                    <input type="hidden" value="@User.Identity.Name" name="author" />
                    <input type="hidden" value="@Model.Id" name="googlePlaceId" />                     
                }
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        }
        //else
        //{
        //    <p>We've sent you a confirmation link on your email. To leave a review please confirm your account</p>
        //}
    }
    <div class="row">
        <div class="col-sm-12">
            <hr />
            <div id="reviewsUpdate">
                @Html.Action("ShowReviews", "Home", new { googlePlaceId = Model.Id , sortedByDateDesc = true})
            </div>
            <hr />                  
        </div>
    </div>
</div>


@section Scripts {
    <script>
        //function of notifies, whey user add review
        Notify = {
            TYPE_INFO: 0,
            TYPE_SUCCESS: 1,
            TYPE_WARNING: 2,
            TYPE_DANGER: 3,

            generate: function (aText, aOptHeader, aOptType_int) {
                var lTypeIndexes = [this.TYPE_INFO, this.TYPE_SUCCESS, this.TYPE_WARNING, this.TYPE_DANGER];
                var ltypes = ['alert-info', 'alert-success', 'alert-warning', 'alert-danger'];
                var ltype = ltypes[this.TYPE_INFO];

                if (aOptType_int !== undefined && lTypeIndexes.indexOf(aOptType_int) !== -1) {
                    ltype = ltypes[aOptType_int];
                }

                var lText = '';
                if (aOptHeader) {
                    lText += "<h4>" + aOptHeader + "</h4>";
                }
                lText += "<p>" + aText + "</p>";
                var lNotify_e = $("<div class='alert " + ltype + "'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>" + lText + "</div>");

                setTimeout(function () {
                    lNotify_e.alert('close');
                }, 3000);
                lNotify_e.appendTo($("#notifies"));
            }
        };		

        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 3,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3],
                autoHeight: true

            });

            //disable submit form button, when there is no text in review input
            $("#btnSubmitReview").prop("disabled", true);
            $("#txtReview").change(function () {
                if ($("#txtReview").val() == "") {
                    $("#btnSubmitReview").prop("disabled", true);
                }
                else {
                    $("#btnSubmitReview").prop("disabled", false);
                }
            });          

            //listen for the submit review form to show notify
            $("#ajaxAddReviewForm").submit(function () {
                Notify.generate('Your review will make the world be better! :) ', 'Thanks for your review!', 1);
                setTimeout("$('#txtReview').val(''); $('#btnSubmitReview').prop('disabled', true);", 500);
                
            });

            $('a.thumbnail').click(function (e) {
                //отменить стандартное действие браузера
                e.preventDefault();
                //присвоить атрибуту scr элемента img модального окна
                //значение атрибута scr изображения, которое обёрнуто
                //вокруг элемента a, на который нажал пользователь
                $('#image-modal .modal-body img').attr('src', $(this).find('img').attr('src'));
                //открыть модальное окно
                $("#image-modal").modal('show');
            });
            //при нажатию на изображение внутри модального окна 
            //закрыть его (модальное окно)
            $('#image-modal .modal-body img').on('click', function () {
                $("#image-modal").modal('hide')
            });
        });
    </script>    
}
